.footer {
  height: auto;
  width: 100%;
  background-color: #dedddd;
}
.footer_box {
  padding: 2rem 0;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.footer ul {
  list-style: none;
}
footer ul li {
  padding: 0.5rem;
}
.footer a {
  text-decoration: none;
  color: black;
}
.footer a:hover {
  color: #0672cb;
  text-decoration: underline;
}

.footer_left {
  width: 20%;
}
.footer_middle_one {
  width: 25%;
}
.footer_middle_two {
  width: 25%;
}
.footer_right {
  width: 30%;
}

.footer_right input[type="email"] {
  width: 95%;
  height: 2.2rem;
  border: 1px solid rgb(202, 200, 200);
  border-radius: 0.25rem;
  padding-left: 1rem;
  font-size: 1rem;
  outline: none;
}
.footer_right input[type="button"] {
  height: 2.2rem;
  padding: 0.5rem;
  background-color: #056138;
  color: #f6f6f6;
  border-radius: 5px;
  border: none;
}
